*{
    padding: 0;
    margin: 0;
    box-sizing:border-box ;
    text-decoration: none;
    font-family:"Roboto";
    transition:all .2s linear;

}

h1, h3{
    font-family: 'Oswald', sans-serif;
}


*::selection{
    background-color: yellow;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}
body{
    overflow-x: hidden;
}

html::-webkit-scrollbar{
    width:1.4rem;
}

html::-webkit-scrollbar-track{
    background: #333;
}
html::-webkit-scrollbar-thumb{
    background: yellow;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width:100%;
    height:10vh;
    background-color: #fff;
    padding: 7%;
    box-shadow: 0 0.3rem 2rem rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .logo img{
    height:10rem;
    border-radius: 70px;
}

header .navbar ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
}

header .navbar ul li{
    margin:1.5rem;
    position: relative;
}

header .navbar ul li::after{
    position: absolute;
    content: "";
    width:0;
    height:3px;
    background: #009688;
    left:0;
    bottom: -10px;
    transition: 0.5s;
}
header .navbar ul li:hover::after{
    width: 100%;
}
header .navbar ul li a{
    color:#666;
    font-size: 1.7rem;
    text-decoration: none;
}

header .navbar ul li a.active,
header .navbar ul li a:hover{
    color:yellow;
}

header #menu-bar{
    font-size: 3rem;
    color:#666;
    cursor: pointer;
    display: none;
}

section{
    min-height: 100vh;
    padding: 1rem 10%;
    padding-top: 17rem;

}
.home{
    background-color: #FF8474;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    z-index: 0;
}

.home .image{
    padding-top: 15px;
    flex:1 1 39rem;
    animation: animte 1s linear 1;
}

@keyframes animte{
    0%{
        transform:rotate(45deg) translateY(-40rem);
    }
}


.home .image img{
    width:100%;

}

.home .content{
    flex:1 1 39rem;
}

.home .content h3{
    color:#333;
    font-size: 6rem;
}

.home .content p{
    color:#fff;
    font-size: 2rem;
    padding:1rem 0;
}


.btn{
    font-size: 25px;
    width:200px;
    padding:15px 0;
    text-align: center;
    border-radius: 25px;
    background: transparent;
    color: yellow;
    border:.2rem solid yellow;
    cursor: pointer;
    position: relative;
    overflow:hidden;
}

.btn span{
    background:#f8f5f6;
    height:100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.52s;
}

.btn:hover span{
    width:100%;
}

.about{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background: #fff;
}

.about .image{
    flex:1 1 40rem;
    height:50rem;
    background:url(images/about-frame-img.png), url(images/about2.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: screen;
}

.about .content{
    flex:1 1 40rem;
    padding:2rem;
}

.about .content h3{
    font-size: 4rem;
    color:#333;
}

.about .content p{
    font-size: 1.6rem;
    color:#666;
    padding:1rem 0;
}

.about .content a button:hover{
    background-color: #FF8474;
}

.collection
{
    background-color: #fff;
}
.heading{

    text-align: center;
    font-size: 5rem;
    color:#333;
}

.heading span{
    color:#FF8474;
}

.collection .list{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin:2rem 0;
}
.collection .list .btn{
    background: transparent;
}

.collection .list .btn.active,
.collection .list .btn:hover{
    background-color: #009688 ;
}


.collection .row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.collection .row .image{
    margin:2rem;
    padding:2rem;
    flex:1 1 40rem;
    border-radius: 1rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.2);
}

.collection .row .image img{
    width:100%;
    object-fit: cover;
    border-radius: 1rem;
}

.collection .row .content{
    flex:1 1 40rem;
}

.collection .row .content .info{
    padding:1rem 0;
}

.collection .row .content .info h3{
    display: flex;
    align-items: center;
    font-size: 2.4rem;
    color:#333;
}

.collection .row .content .info h3 span{
    padding-right: 1rem;
    color:var(--yellow);
}

.collection .row .content .info p{
    padding:1rem 0;
    padding-left: 4.5rem;
    font-size: 1.5rem;
    color:#666;
}

.popular{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    color:#FF8474;
    text-shadow: 2px 2px #fff;
    background-image:linear-gradient(rgba(255,255,255,.5),rgba(255,255,255,.5)),url("https://freerangestock.com/sample/138007/tech-abstract-light-background-.jpg");
  }

  .popular h2{
      font-family: "Montserrat";
      font-size: 4rem;
  }
  .carousel-item{
    padding:5% 12%;
  }
  .testimonials-img{
    width:10%;
    border-radius: 100%;
    margin:20px;
  }

.gallery{
    background-image: linear-gradient(rgba(255,255,255,0.7),rgba(255,255,255,0.7)),url("https://wallpaperaccess.com/full/318703.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.gallery .heading span{
    color: chocolate;
}

.gallery .box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.gallery .box-container .box{
    background:#fff;
    width:35rem;
    padding:2rem;
    margin:2rem;
    border-radius: 1rem;
    box-shadow: 0 .3rem .5rem rgba(0,0,0,.2);
    text-align: center;
}

.gallery .box-container .box img{

    width:100%;
    object-fit: cover;
}

.gallery .box-container .box h3{
    color:#FF8474;
    font-size: 3rem;
    font-weight: normal;
    text-shadow: 1px 1px rgba(0, 0, 0,0.7);
}

.gallery .box-container .box:hover{
    transform: scale(1.02);
    box-shadow: 0 1rem 1rem rgba(0,0,0,.2);
    cursor: pointer;
}


.footer{
    background:#282727;
    padding:1rem 7%;
}

.footer .box-container{
    display: flex;
    flex-wrap: wrap;
}

.footer .box-container .box{
    flex:1 1 25rem;
    margin:2rem;
}
.footer .box-container .box h3{
    font-size: 2.5rem;
    color:#fff;
    padding:1rem 0;
    font-weight: normal;
}

.footer .box-container .box p{
    font-size: 1.7rem;
    color:#eee;
    padding:1rem 0;
}

.footer .box-container .box a{
    font-size: 1.7rem;
    color:#eee;
    padding:1rem 0;
    display: block;
}

.footer .box-container .box a:hover{
    color:darkblue;
    text-decoration: none;
}

.footer .box-container .box p i{
    padding-right: .5rem;
    color:yellow;

}

.footer h1{
    color:goldenrod;
    text-align: center;
    font-size: 1.5rem;
    padding: 3% 0;
}
@media (max-width:768px) {
    html{
        font-size: 55%;
    }
    header .logo img{
        height:5rem;
    }
    header #menu-bar{
        display: block;
    }

    header .navbar{
        position: fixed;
        top: 8rem;
        left: 0;
        width: 100%;
        background: #333;
        border-top: .2rem solid rgba(0, 0, 0, 0.1);
        transform:scaleY(0);
        transform-origin: top;
        opacity: 0;

    }

    header .navbar ul{
        flex-flow: column;
        padding: 2rem;
    }

    header .navbar ul li{
        margin: 1.5rem;
        width:100%;
    }

    header .navbar ul li a{
        display: block;
        color:#fff;
        padding-left: 2rem;
        border-left: .2rem solid #fff;
        font-size: 2rem;
    }

    .fa-toggle{
        transform: rotate(180deg);
    }
    header .navbar.nav-toggle{
        transform:scaleY(1);
        opacity: 1;
    }

    .home .content{
        text-align: center;
    }

    .home .content h3{
        font-size: 4.5rem;
    }

    .home .image{
        animation: none;
    }

}



.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.order{
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
    background:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url("https://pyxis.nymag.com/v1/imgs/cf2/1ab/c08516ec3f3a27e8b15e2cffde8e47294b-ten-tomorrow.rsocial.w1200.jpg") no-repeat;
    background-size: cover;
    background-position: center;

}
.order h1{
    color:#fff;
    font-size: 4rem;
    text-align: center;
    margin-bottom: 10px;
}

.order-col{
    flex-basis: 42%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow:hidden ;
}
.order-col img{
    width: 100%;
    display: block;
    background: linear-gradient((0,0,0,0.6),(0,0,0,0.6));
}
.layer{
    background:transparent ;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 1s;
}
.layer:hover{
    background: rgba(226,0, 0, 0.7);
}
.layer a{
    width: 60%;
    font-weight: 500;
    color: #fff;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    transition: 1s;
}
.layer:hover a{
    bottom: 49%;
    opacity: 1;
}
.left{
  display:none;
}

@media(max-width: 700px){
    .row{
        flex-direction: column;
    }
}
